<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tile Press</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="scripts/lib/underscore-min.js"></script>
        <script src="scripts/lib/backbone-min.js"></script>
        <script src="scripts/main.js"></script>
        <link rel="stylesheet" href="styles/icon.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div id="main"></div>
        <script id="tile-view-template" type="text/template">
            <span class="icon-<%= type %>"></span>
        </script>
        <script id="board-view-template" type="text/template">
            <% _.each(tiles, function (row, i) { %>
                <div class="board-row">
                <% _.each(row, function (tile, j) { %>
                    <div class="board-cell" data-i="<%= i %>" data-j="<%= j %>"></div>
                <% }); %>
                </div>
            <% }); %>
            <div class="board-toolbar">
                <a class="hint icon-hint" href="#" title="Hint"></a>
                <a class="button level" href="#" data-difficulty="beginner">Beginner</a>
                <a class="button level" href="#" data-difficulty="advanced">Advanced</a>
                <a class="button level" href="#" data-difficulty="proficient">Proficient</a>
                <a class="button level" href="#" data-difficulty="expert">Expert</a>
                <a class="button level" href="#" data-difficulty="master">Master</a>
            </div>
            <div class="board-complete">
                <h2>Complete!</h2>
                <a class="next">Next</a>
            </div>
        </script>
        <script id="hint-view-template" type="text/template">
            <div class="tile tile-hint"></div>
        </script>
    </body>
</html>
