@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-cy4m4z');
	src:url('fonts/icomoon.eot?#iefix-cy4m4z') format('embedded-opentype'),
		url('fonts/icomoon.woff?-cy4m4z') format('woff'),
		url('fonts/icomoon.ttf?-cy4m4z') format('truetype'),
		url('fonts/icomoon.svg?-cy4m4z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hint:before {
	content: "\e601";
}

.icon-tile-blank:before {
	content: "\e600";
}

.icon-tile-diagonal-adjacent:before {
	content: "\f00d";
}

.icon-restart:before {
	content: "\f01e";
}

.icon-tile-row-col:before {
	content: "\f047";
}

.icon-tile-unclickable:before {
	content: "\f05e";
}

.icon-tile-adjacent:before {
	content: "\f067";
}

.icon-tile-both-diagonal:before {
	content: "\f0b2";
}

.icon-tile-up-left:before {
	content: "\e606";
}

.icon-tile-up-right:before {
	content: "\e607";
}

.icon-tile-down-left:before {
	content: "\e608";
}

.icon-tile-down-right:before {
	content: "\e609";
}

.icon-tile-up-left-right:before {
	content: "\e602";
}

.icon-tile-down-left-right:before {
	content: "\e603";
}

.icon-tile-up-down-left:before {
	content: "\e604";
}

.icon-tile-up-down-right:before {
	content: "\e605";
}

